@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

#root{
  height: 100vh;
}

html, body { height: 100%; }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto";
  font-style: normal;
  /* white-space: nowrap; */
}

textarea{

  resize: none;
  white-space: normal;

}

body {
  margin: 20px;
  overflow-x: hidden;
}

h1 {
  font-weight: 300;
  font-size: 50px;
  line-height: 59px;
  align-items: center;
  color: #000000;
}

.flex{
  display: flex;
}

.justify-c{
  justify-content: center;
}

.align-c{
  align-items: center;
}

.vh{
  height: 100vh;
}

.pr10{
  padding-right: 10px;
}

.subhead {
  font-weight: 500;
  font-size: 10px;
  line-height: 109%;
  color: #b1abab;
}
.subhead a {
  text-decoration-line: underline;
  color: #b1abab;
}
form {
  margin-top: 25px;
  margin-bottom: 10px;
}
.label {
  font-weight: 500;
  font-size: 14px;
  line-height: 109%;

  display: flex;
  align-items: center;
  margin-bottom: 5px;
  color: #000000;
}

.input {
  border: 1px solid #000000;
  width: 374px;
  height: 48px;
  padding: 0 16px;
}

.textarea{
  padding: 8px;
}

.button {
  background: #833ae0;
  border: none;
  width: 120px;
  height: 48px;
  margin-left: 30px;
  cursor: pointer;

  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #ffffff;
  transition: 0.3s all;
}

.button:hover {
  background: #6130a0;
  transition: 0.3s all;
  box-shadow: 1px 1px 10px #833ae0;
}

.filter_click {
  display: inline-flex;
}
.filter {
  display: inline-block;
}

.filter_text {
  font-weight: 300;
  font-size: 14px;
  line-height: 109%;

  text-decoration-line: underline;

  color: #000000;
}

.filter_arrow {
  margin-top: 2px;
  margin-left: 8px;
  display: flex;
  align-items: center;
}

.filter_content {
  transition: all 0.5s ease-in-out;
  height: 0;
  overflow: hidden;
}

.filter_content.active {
  height: 270px;
}

.filter_form {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-auto-flow: column;
  justify-content: start;
  column-gap: 30px;
}

.filter_field {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
.filter_field_name {
  font-weight: 500;
  font-size: 14px;
  line-height: 109%;
  color: #000000;

  margin-bottom: 5px;
}

option {
  font-weight: 300;
  font-size: 20px;
  line-height: 121%;
  display: flex;
  align-items: center;
  color: #000000;
}

.filter_select {
  border: 1px solid #000000;
  width: 374px;
  height: 48px;
  padding: 0 16px;
  appearance: none;
  background: url("/src/assets/img/arrow.svg") no-repeat 96%;

  font-weight: 300;
  font-size: 20px;
  line-height: 121%;
  color: #000000;
}

.filter_field_wrap {
  display: flex;
}

.filter_input {
  padding: 0 16px;
  width: 155px;
  height: 48px;
  border: 1px solid #000000;
  margin-right: 16px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.filter_field_subname {
  font-weight: 300;
  font-size: 14px;
  line-height: 109%;
  display: flex;
  align-items: center;
  color: #000000;
  margin-right: 9px;
}
.coins_content_type {
  margin-top: 60px;
  display: flex;
  transition: all ease 0.3s;
}

.coins_type {
  margin-right: 190px;
  white-space: nowrap;
}
.coins_type_name {
  font-weight: 500;
  font-size: 28px;
  color: #000000;
  line-height: 100%;
  margin-bottom: 20px;
}
.subtitle {
  display: inline-flex;
  margin-bottom: 10px;
  text-decoration: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.subtitle_text {
  font-weight: 300;
  font-size: 14px;
  line-height: 109%;
  color: #000000;
}

.subtitle:hover {
  color: #888888;
  text-decoration: underline;
}
.arrow_right {
  position: relative;
  margin-left: 7px;
}

.arrow_right img {
  width: 11px;
  height: 15px;
  display: block;
  transform: rotate(-90deg);
}

.coins_content {
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(374px, auto));
  column-gap: 10%;
  row-gap: 25px;
  margin-top: 40px;
  height: 100%;
}
.coins {
  max-width: 374px;
  display: flex;
  margin-bottom: 25px;
}
.coin_img {
  margin-right: 30px;
  /* height: fit-content; */
  /* width: fit-content; */
  width: 120px;
  height: 120px;
}

.coin_img > img{

  width: 120px;
  height: 120px;
   /* object-fit: cover; */

}

.coins_type_img{
  width: 100%;
  height: 100%;
}

.coin_name {
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  margin-bottom: 5px;
  color: #833ae0;
  text-decoration: none;
  transition: 0.1s all;
}

.coin_name:hover {
  color: #6130a0;
}

.coin_text h2 {
  margin-bottom: 5px;
}

.coin_descr {
  font-weight: 400;
  font-size: 12px;
  line-height: 125.5%;
  color: #000000;
}

.coin {
  display: flex;
  justify-content: center;
}

.coin_image {
  margin-bottom: 24px;
  margin-right: 30px;
  height: 300px;
  width: 300px;
}

.coin_image img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.coin_about {
  position: relative;
  max-width: 452px;
  background: rgba(196, 196, 196, 0.5);
  padding: 20px 43px;
}

.coin_title {
  font-weight: 700;
  font-size: 28px;
  line-height: 33px;
  color: #000000;
}

.coin_info {
  margin-top: 20px;
  font-weight: 400;
  font-size: 12px;
  line-height: 125%;
  color: #000000;
}

table {
  width: 366px;
  margin-top: 40px;
  border-collapse: collapse;
  font-weight: 400;
  font-size: 10px;
  line-height: 105.2%;
  color: #000000;
  border: 2px solid rgba(196, 196, 196, -0.5);
}

tr,
td {
  padding: 6px;
  border: 0.5px solid #b1abab;
}

tr:nth-child(2n-1) {
  background-color: white;
}

.coin_back {
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  text-decoration-line: underline;
  color: #000000;
  position: absolute;
  bottom: 20px;
  left: 43px;
}

.coin_back:hover {
  color: #363636;
}

.auth_forms {
  width: 364px;
}
.password_label {
  margin-top: 20px;
}

.sign {
  display: block;
  margin: 30px auto 0;
}

.auth {
  width: 374px;
  margin: 150px auto 0;
}

.coins_wrapper {
  margin-top: 40px;
}

.coin_edit {
  display: flex;
  column-gap: 30px;
  margin-top: 25px;
}

.coin_edit_img{
  width: 120px;
  height: 120px;
}

.coin_edit_img img{
  width: 120px;
  height: 120px;
  /* object-fit: cover; */
}

.coin_edit_info {
  width: 224px;
}

.coin_edit_btn {
  background: #e5e5e5;
  color: #000000;
}

.coin_edit_add {
  position: relative;
  width: 120px;
  height: 120px;

  background: #ffffff;
  border: 1px solid #000000;
  border-radius: 50%;
}

.coin_edit_plus_first {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 8.71px;
  height: 1px;
  background: #000000;
  transform: translateX(calc(50% - 8.71px)) translateY(calc(50% - 1px));
}

.coin_edit_plus_second {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 9.68px;
  width: 1px;
  background: #000000;
  transform: translateX(calc(50% - 1px)) translateY(calc(50% - 9.68px));
}

.coin_edit_link {
  font-weight: 300;
  font-size: 14px;
  line-height: 109%;
  display: flex;
  align-items: center;
  text-decoration-line: underline;
  color: #000000;
}

.coin_edit_link:hover {
  color: #646464;
}

.add_label {
  margin-top: 20px;
}

.coin_add {
  margin-top: 25px;
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(374px, auto));
  column-gap: 30px;
}

#s_desc, #l_desc {
  height: 136px;
}

.save {
  margin-left: 60px;
}

.coin_add_btns {
  margin-top: 304px;
}
.cancel {
  background: #E1E1E1;
  color: #000000;
}


.nav {
  margin-top: 60px;
  display: flex;
  justify-content: center;
  gap: 20px;
  padding-bottom: 30px;
}

.nav a {
  text-decoration: none;
}

.activePage{
  text-decoration: underline !important;
}

.nav a:visited {
  color: inherit;
}

.nav a:hover {
  color:#6130a0
}

@media ( max-width: 1160px ){

  .coins_type{
    width: 300px;
    margin-right: 120px;
  }

  .coins_type_name{

    font-size: 24px;
    margin-bottom: 12px;

  }

  .coins_type_img{

    width: 150px;
    height: 150px;

  }

  .coins_type_img > img{
    width: 150px;
  }

  .coin_add_btns{

    margin-top: 150px;

  }

}

@media ( max-width: 880px ){

  .coin_img_front{

    width: 200px;
    height: 200px;

  }

  .coin_img_back{

    width: 200px;
    height: 200px;

  }

  .coin_add_btns{

    margin-top: 50px;

  }

  .coin_add{

    justify-content: center;

  }

  .filter_content.active{
    
    height: 550px;
    max-width: 880px;
    margin: 0px auto;

  }

  .coins_content{

    justify-content: center;

  }

  header{
    
    display: flex;
    flex-direction: column;

  }

  .filter{

    /* width: 400px; */
    display: flex;
    flex-direction: column;
    align-items: center;

  }

  .filet_form{

    margin: auto;

  }

  .flex{

    justify-content: center;
    white-space: nowrap;

  }

  .filter_content{

    /* width: 600px; */
    margin: 0 auto;

  }

  .filter_form{

    display: flex;
    flex-direction: column;
    width: 400px;
    margin: 0px auto;
    
  }

  .filter_click{

    /* margin-left: 100px; */
    margin-bottom: 10px;

  }

  .coins_content_type{

    max-width: 880px;
    justify-content: center;
    flex-direction: column;
    align-items: center;

  }

  .coins_type{

    margin: 0px;
    margin-bottom: 40px;

  }

  .coins_type_img{

    display: flex;
    justify-content: center;
    width: 150px;
    margin: auto;

  }

  .coins_type_img > img{

    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    
  }

  .coin_search{

    display: flex;
    flex-direction: column;
    align-items: center;

  }

  .name_label{

    margin-right: 310px;

  }

  .button{

    margin: 20px;

  }

  .sign{

    margin: 0px auto;
    margin-top: 20px;

  }

  .coins_type_name{
    /* display: inline-block; */
  }

}

@media ( max-width: 710px ){

  .coin_pics{

    display: none;

  }

  .coin_back{

    padding-top: 20px;

  }

}